# Django Core
Django==5.1.5
python-dotenv==1.0.1

# Django REST Framework
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.1
drf-spectacular==0.28.0

# Django Extensions
django-cors-headers==4.6.0
django-filter==24.3
django-allauth==65.3.0

# Channels (WebSocket support)
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2

# Database
PyMySQL==1.1.1

# MQTT
paho-mqtt==2.1.0

# Security & Encryption
cryptography==44.0.0

# Utilities
websockets==14.1
google-auth==2.37.0
